.body {
    background-color: #00f !important;
    color: #fff;
    padding: 20px;
    margin: 200px;
    border-radius: 50px;
    position: relative;
    top: 10px;
}

p {color: red !important;}

pre {
    background: red;
    transition: all 6s ease;
}



















































/* end */
