$LightGreen: rgb(129, 239, 125);
$Magenta: rgb(251, 0, 255);
$Tomato: rgb(252, 75, 56);
$Tan: rgb(198, 166, 122);
$GoldenRod: rgb(209, 149, 25);
$OliveDrab: rgb(88, 126, 26);
$LightSeaGreen: rgb(34, 164, 153);
$DeepSkyBlue: rgb(22, 176, 254);
$Linen: rgb(248, 236, 224);
